body{
    margin: 0;
    display: grid;  
    grid-template-areas:'nav nav nav nav nav nav'
                        'header header header header header header'
                        'section section section section section section'
                        'div div div div div div'
                        'div2 div2 div2 div2 div2 div2'
                        'aside aside aside aside aside aside'
                        'footer footer footer footer footer footer';
    grid-template-rows: 35vh 80vh 60vh 80vh 35vh 150vh 30vh;
    grid-template-columns: auto;
    grid-gap: 5px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-area: nav;

    padding: 0px 0px 0px 80vh;

    background-color: red;
}
nav img{
    
    height: 300px;
    width: 300px;
}
nav div{
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 75px;
    width: 350px;
    /* background-color: black; */
}
header{
    display: flex;
    align-items: center;
    /* eixo y */
    justify-content: center;
    /* eixo x */
    grid-area: header;

    background-color: aqua;
}
header div{
    display: flex;
    align-content: center;
    /* eixo x */
    justify-content: center;
    /* eixo y */
    flex-direction: column;

    height: 300px;
    width: 700px;
    /* background-color: white; */
}
header div h1{
    font-size: 50pt;
    margin-bottom: 0;
}
header div h2{
    position: relative;
    left: 100px;
    margin: 4px;
    
    font-size: 30pt;
}
header img:nth-child(1){
    padding: 350px 20px 30px 0px;
    height: 135px;
    width: 400px;
}
header img:nth-child(3){
    margin-bottom: 100px;
    height: 400px;
    width: auto;
}
section{
    display: flex;
    align-items: center;
    justify-content:space-around;
    grid-area: section;
    padding: 4px 80px 4px 280px;
    background-color: brown;
}
section div{
    background-color: white;    
    height: 290px;
    width: 380px; 
    border-radius: 10px;
}
#informativo{
    background-image:url(images/bg.jpg);
    background-size: cover;
    grid-area: div;
}
article{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: div2;
    padding: 0px 0px 0px 10px;
    margin: 0px;
    
    background-color: #0b080b;
}
article div img{
    padding-left: 90px;
    height: 220px;
    width: 475px;
    cursor: pointer;
    opacity: 0.8;
}
article div img:hover{
    padding-left: 100px;
    height: 220px;
    width: 490px;
    opacity: 1;
    transition: 2s;
}
article div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-right: 50px;
    /* background-color: aqua */
}
article h3{
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-bottom: 0px;
    font-size: 30pt;
}
article div:nth-child(2) p{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 10pt;
    margin-top: 0px;
    padding-left: 40px;
}
aside{
    grid-area: aside;
    
    background-color: red;
}
footer{
    grid-area: footer;

    background-color: violet;
}